body {
    font-family: 'Display', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #0066cc;
    font-family: 'Display', Arial, sans-serif;
}

#fases {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Display', Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
    font-family: 'Display', Arial, sans-serif;
}

button.enabled:hover {
    background-color: #0056b3;
}

button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
