body {
    font-family: 'Display', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: auto; /* Permite rolagem em todas as direções */
}

.content {
    min-height: 100vh; /* Garante que a área de conteúdo ocupe pelo menos a altura da tela */
    padding: 50px;
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total do elemento */
    position: relative; /* Para garantir que o conteúdo não se sobreponha às plantas */
}

h1 {
    color: #0066cc;
    font-size: 4em; /* Texto grande e chamativo */
    text-shadow: 3px 3px #aaa;
    margin-bottom: 20px;
}

#fases {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 15px;
    margin-top: 50px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Display', Arial, sans-serif;
    font-weight: bold;
    padding: 0; /* Removido para garantir a quadratura */
    width: 100%;
    aspect-ratio: 1; /* Garante que os botões sejam quadrados */
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px #1c7430, 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    box-shadow: 0 3px #1c7430;
    transform: translateY(2px);
}

button.enabled:hover {
    background-color: #218838;
    transform: translateY(-3px);
    box-shadow: 0 8px #1c7430, 0 12px 20px rgba(0, 0, 0, 0.2);
}

button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#plants-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* As plantas não interferem no clique dos botões */
}

.plant {
    position: absolute;
    bottom: 0;
    width: 20%;
    opacity: 0.8;
    animation: sway 5s infinite ease-in-out;
}

.plant.left {
    left: 0;
    animation-delay: 0s;
}

.plant.right {
    right: 0;
    animation-delay: 2.5s;
}

@keyframes sway {
    0%, 100% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(10px) rotate(3deg);
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    position: relative;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
}
